@using WebApplicationTest.BussinessLayer.Models
@model Account

<h1>First Contact</h1>

<div>
    <ul class="list-group">
        <li class="list-group-item">
            <h6>Name</h6>
            @Model.Name
        </li>
        <li class="list-group-item">
            <h6>Email</h6>
            @Model.Password
        </li>
    </ul>
</div>
